@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
$color-background:#F5F5F5;


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body {
	font-family: "Cabin", sans-serif;
	min-width: 360px;
	font-size: 10px;
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $color-background;
		text-decoration: none;
		color: black;
		height: 30vh;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 1.3em;
	}

	.banner {
		justify-content: space-around;
		padding: 5px;
	}
}


.news {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: $color-background;
	font-size: 2.0em;
	text-align: center;
	height: 212px;
	line-height: 27px;
	
	
	
	
	span {
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		letter-spacing: 10px;
	
		
	}

	a {
		display: flex;
		justify-content: center;
		color: #FFFFFF;
		background-color:#000000;
		height: 44px;
		width: 195px;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 30px;
		text-decoration: none;
		align-items: center;
		
	}

}

.nav_down {
	background-color: #000000;
	text-align: center;
	padding: 5px;
	line-height: 30px;
	
	
	
	a {
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 30px;
	
	}

	ul{
		display: none;
		@media (min-width: 980px) 
			 {
				display: block;
			}
		
	}

	.nav_title{
		font-size: 2.0em;
		font-weight: bold;
		letter-spacing: 7px;
		
		
	}

}



.mobile-info {
	display: flex;
	justify-content: center;
	padding: 10px;
	
}

.desktop-info{
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	padding: 10px;
	
	

	a{
	text-decoration: none;
	color: #000000;
	padding: 10px;
	}

	.facebook {
		color: #3A559F;
	
	}

}

.group {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
}





//invisible for desktop
@media (max-width: 980px) {
	.desktop-info, .group {
		display: none;
	}

	
}

//invisible for mobile
@media (min-width: 980px) {
	.col-md-4 {
		width: 33%;
	}
	.col-md-6 {
		width: 100%;
		display: flex;
		justify-content: space-around;
		height: 311px;
		}

	.row a {
		width: 100%;
		font-size: 2.5em;
	}

	.news {
		span {
		font-size: 25px;
		}

		p {
			font-size: 20px;
		}
	}

	.mobile-info, {
		display: none;
	}

		}
